* {
    display: flex;
    margin: 0;
    justify-content: center;
    text-align: center;
   
    
}
body { 
   
    flex-direction: column;
    background-color: white;
    margin-top:100px;
    background-image : url('cat.jpg');
    background-repeat:repeat-x;
    background-size: 50%;
    background-color:  #E9EAE4;
}
.write_words {
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    padding-bottom: 20px;
    color: black;
   
}
form {
   
    width:300px;
    height: 300px;
    flex-direction: column;
    padding:0 px;
    
}

textarea {
    border: 10px inset red;
    background-color: black;
    color:white;
    width: 298px;
    height: 300px;
    padding: 0px;
    font-size: 20px;
}
input {
    
    background-color: white;
    width:318px;
    height: 50px;
}