@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
        url(path/to/MaterialIcons-Regular.woff) format('woff'),
        url(path/to/MaterialIcons-Regular.ttf) format('truetype');
    }
   
* {
    margin: 0;
    display: flex;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:  #8F98A0; 
    margin:8px 8px 0px 4px;
    
}
.blue .material-icons{
    color: white;
}


header, body, main, .story {
    width:100%;
    flex-direction: column;
}
.blue > div{
    width: 100%;
    margin:8px;
    border-bottom:solid white 1px;
}
.round img {
    border-radius: 70%;
    width: 30px;
    height: 30px;
    margin:5px 0px 8px 8px;
}
.banner {
    height: 40px;
}

button {
    border-radius: 15px;
    border: lightgray solid 1px;
    background-color: white;
    width:200px;
    margin: 8px 0px 8px 8px;
    color: gray;
    padding: 4px 0px 3px 15px;
    font-size: 11px;
    
}

.center {
    justify-content: center;
    color: white;
    align-items:flex-end;
}

.center div {
    padding-top:3px;
    padding-bottom:2px;
    font-size: 12px;

}
.banner, .icons, .top, .album, .numbers, .bottom {
    justify-content: space-between;
}
.blue {
    background-color:#3F5694;
    height: 30px;
}
.story, .mainpage {
    border-top: solid 5px #DADEE1;
}
.bold {
    font-size: 12px;
    font-weight: 700;
    margin: 7px 0px 0px 5px;

}
.album {
    margin: 5px 5px;
}
.album img {
    border-radius: 6px;
    width: 65px;
    height: 100px;
}

.gap {
    margin: 5px;
    margin-right:10px;
    color:  #A3A3A7; 
    font-size: 10px; 
}

.material-icons.md-18 {
    font-size: 15px;
    color:#A3A3A7;
    margin: 5px 0px;
}
.material-icons.md-10 {
    font-size: 10px;
    color:#A3A3A7;
    margin: 3px 5px;
}
.small {
    font-size:4px;
    margin-left: 5px;
    color:#A3A3A7;
}
 p {
     font-size: 6px;
     margin: 3px 0px 5px 10px;
 }
 .numbers {
     margin: 5px;
     font-size: 8px;
     color:#949590;
     
 }
 .numbers img {
     width:35px;
     height: 14px;
     margin-right: 6px;
    
 }
.mainpage, .column, .middle  {
    flex-direction: column;
}
.icons {
    border-bottom: gray solid 2px;
    padding: 0px 15px 5px 15px;
}
.bottom {
    border-top:lightgray solid 1px;
    align-items: center;
    padding:2px 20px 5px 20px ;
    font-size:8px;
    color:#949590;
    height: 20px;
}

.bottom >span {
    align-items: center;
}
main {
    border-bottom: #DADEE1 solid 5px;
}